
.font-sm{
  font-size: 2rem;
}
.font-md{
  font-size: 2.5rem;
}
.font-lg{
  font-size: 3.5rem;
}
.font-nromal{
  font-size: 1.125rem/1.75rem;
}


.page-layout{
  margin-left: 1em;
  margin-right: 1em;
  @media screen and (min-width: 45em) {
    margin-left: 2.437em;
    margin-right: 2.437em;
  }
  @media screen and (min-width: 65em) {
    margin-left: 9.625em;
    margin-right: 9.625em;
  }
}